<ion-header>
  <ion-toolbar color = "danger">
      <ion-buttons slot="start">
          <ion-menu-button color = "dark"></ion-menu-button>
        </ion-buttons>

  </ion-toolbar>
</ion-header>    

<ion-content color = "danger">
  <br />
  <br />
  <br />
  <br />
  <p text-center>ERROR</p>
  <br />
  <p text-center>Vuelva a intentar</p>
  <div class = "centre">
  <ion-button class= "ion-text-center" color= "dark" (click)="comprar()">
    Realizar operacion 
    <ion-icon name="fastforward"> </ion-icon>
  </ion-button>
  </div>
</ion-content>